<%- include('./partials/head') %>
<body>
    <div id="contenedor">
        <%- include('./partials/header') %>
        <main class="body__main">
            <section class="section__perfil">
            <h1>Mi perfil</h1>
            <div class="box__imagen__perfil">
                <!--implementacion de id en img-->
            <img src="/images/usuarios/<%= user.avatar ? user.avatar : 'avatar-default.jpg' %>" alt="imagen de usuario" width="100px" id="imagePreview">
            </div>
            <form class="form__perfil" action="/usuarios/editar/<%= user.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
                <div class="form__box__perfil">
                    <label class="label__perfil" for="nombre">Nombre</label>
                    <input class="input__perfil" type="text" id="nombre" name="nombre" style="padding-left: 5px;" value="<%= user.nombre %>">
                </div>
                <div class="form__box__perfil">
                    <label class="label__perfil" for="apellido">Apellido</label>
                    <input class="input__perfil" type="text" id="apellido" name="apellido" style="padding-left: 5px;" value="<%= user.apellido %>">
                </div>
                <div class="form__box__perfil">
                    <label class="label__perfil" for="phone">Teléfono</label>
                    <input class="input__perfil" type="text" id="phone" name="telefono" style="padding-left: 5px;" value="<%= user.phone %>">
                </div>
                <div class="form__box__perfil">
                    <label class="label__perfil" for="email">Email</label>
                    <input class="input__perfil" type="text" id="email" name="email" style="padding-left: 5px;" readonly value="<%= user.email %>">
                </div>
                <div class="form__box__perfil">
                    <label class="label__perfil" for="avatar">Imagen del usuario</label>
                    <input class="input__perfil" type="file" id="avatar" name="avatar" accept="image/*" value="<%= user.avatar %>">
                </div>
                <div class="form__box__button">
                <button class="button__perfil button__perfil--cancelar" type="reset">Cancelar</button>
                <button class="button__perfil button__perfil--guardar" type="submit">Guardar</button>
                </div>
            </form>
            </section>
        </main>
        <%- include('./partials/footer') %>
    <script src="/js/userProfile.js"></script>
    </div>
</body>
</html>