<%- include('./partials/head') %>
<body>
    <div id="contenedor">
        <%- include('./partials/header') %>
        <main class="body__main">
            <section class="section__perfil">
            <h1>Mi perfil</h1>
            <form class="form__perfil" action="" enctype="multipart/form-data" method="POST">
                <div class="form__box__perfil">
                    <label class="label__perfil" for="nombre">Nombre</label>
                    <input class="input__perfil" type="text" id="nombre" name="nombre" style="padding-left: 5px;" value="<%= user.nombre %>">
                </div>
                <div class="form__box__perfil">
                    <label class="label__perfil" for="apellido">Apellido</label>
                    <input class="input__perfil" type="text" id="apellido" name="apellido" style="padding-left: 5px;" value="<%= user.apellido %>">
                </div>
                <div class="form__box__perfil">
                    <label class="label__perfil" for="phone">Teléfono</label>
                    <input class="input__perfil" type="text" id="phone" name="phone" style="padding-left: 5px;" value="<%= user.phone %>">
                </div>
                <div class="form__box__perfil">
                    <label class="label__perfil" for="email">Email</label>
                    <input class="input__perfil" type="text" id="email" name="email" style="padding-left: 5px;" value="<%= user.email %>">
                </div>
                <div class="form__box__perfil">
                    <label class="label__perfil" for="avatar">Imagen del usuario</label>
                    <input class="input__perfil" type="text" id="avatar" name="avatar" style="padding-left: 5px;" value="<%= user.avatar %>">
                </div>
                <div class="form__box__button">
                <button class="button__perfil button__perfil--cancelar" type="reset">Cancelar</button>
                <button class="button__perfil button__perfil--guardar" type="submit">Guardar</button>
                </div>
            </form>
            </section>
        </main>
        <%- include('./partials/footer') %>
    </div>
</body>
</html>