<%- include('./partials/head', {title: 'Formulario de creación' }) %>

	<body>
		<div id="contenedor">
			<%- include('./partials/header') %>
				<main class="body__main">
					<section class="section__crear">
						<h1>crear producto</h1>
						<form class="form__crear" action="/productos/crear" enctype="multipart/form-data" method="POST">
							<div class="form__box__crear">
								<label class="crear__label" for="articulo">Producto</label>
								<input type="text" name="articulo" id="articulo" placeholder="Nombre del producto "
									class="crear__input <%= locals.errors && errors.articulo? 'is-invalid' : null %>"
									value="<%= locals.old && old.articulo? old.articulo: null %>">
								<small class="text-danger">
									<%= locals.errors && errors.articulo? errors.articulo.msg : null %>
								</small>prueba
							</div>
							<div class="form__box__crear">
								<label class="crear__label" for="precio">Precio</label>
								<input  type="number" name="precio" id="precio" placeholder="Precio" class="crear__input <%= locals.errors && errors.precio? 'is-invalid' : null %>"
								value="<%= locals.old && old.precio? old.precio: null %>">
							<small class="text-danger">
								<%= locals.errors && errors.precio? errors.precio.msg : null %>
							</small>prueba 
									
							</div>
							<div class="form__box__crear">
								<label class="crear__label" for="stock">Stock</label>
								<input  type="number" name="stock" id="stock" placeholder="1 - 100" class="crear__input <%= locals.errors && errors.stock? 'is-invalid' : null %>"
								value="<%= locals.old && old.stock? old.stock: null %>">
							<small class="text-danger">
								<%= locals.errors && errors.stock? errors.stock.msg : null %>
							</small>prueba
							</div>
							<div class="form__box__crear">
								<label class="crear__label" for="descripcion">Descripción del producto</label>
								<textarea class="crear__textarea" name="descripcion" id="descripcion" cols="30"
									rows="8" placeholder="Añada una descripción" ></textarea><small class="text-danger">
										<%= locals.errors && errors.descripcion? errors.descripcion.msg : null %>
									</small>prueba
			
							</div>
							<div class="form__box__crear">
								<label class="crear__label" for="categoria">Categoría</label>
								<select class="crear__select" name="categoria" id="categoria">
									<option value="" hidden selected>Seleccione una categoría</option>
									<% category.forEach(({id,nombre}) => { %>
									<option value="<%= id %>"><%= nombre %></option>
									<% }) %>
								</select>
								<small class="text-danger">
									<%= locals.errors && errors.categoria? errors.categoria.msg : null %>
								</small>prueba

							</div>

							<div class="form__box__crear">
								<label class="crear__label" for="imagen">Imagen del producto</label>
								<input class="crear__input--imagen" type="file" name="imagen" accept=".jpg">
							</div>
							<div class="form__box__crear--row">
								<button class="button__cancelar button__crear--margin" type="reset">Cancelar</button>
								<button class="button__guardar" type="submit">Guardar</button>
								<button class="button__cancelar" type="submit"><a href="/productos" title="Productos">Atras</a></button>
							</div>
						</form>
					</section>
				</main>
				<%- include('./partials/footer') %>
		</div>
	</body>

	</html>