<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			<h1>Productos</h1>
			<p>Aquí encontrarás todos los productos que con tanto cariño creamos para que los disfrutes.</p>
			<p>Puedes adquirir algunos en la tienda online y todos en la tienda física.</p>
			<form class="body__main__detalles--formulario__mini" action="/productos/crear" method="get">
				<button class="button_/" type="submit">Agregar producto</button>
			</form>
			<h2 id="Pasteleria">Pasteleria</h2>
			<div class="body__main__productos--contenedor">
				<% productosPasteleria.forEach(({id,nombre,precio,imagenes}) => { %>
					<div class="productos__contenedor--item">
					
						<a href="/productos/detalles/<%= id %>">
							<div style="height: 250px; overflow: hidden;">
							<img src="/stock-photos/<%=imagenes[0].archivo %>" >
						</div>
							<p class="productos__contenedor--item--nombre " ><%= nombre %></p>
							<p class="productos__contenedor--item--precio">$<%= precio %></p>
						</a>
					</div>
					
				<% }) %>
				
			</div> 
			<!--confiteria-->
			
			<h2 id="Confiteria">Confitería</h2>
			<div class="body__main__productos--contenedor">
				<% productosConfiteria.forEach(({id,nombre,precio,imagenes}) => { %>
					<div class="productos__contenedor--item">
						<a href="/productos/detalles/<%= id %>">
							<div style="height: 250px; overflow: hidden;">
								<img src="/stock-photos/<%=imagenes[0].archivo %>" >
							</div>
							<p class="productos__contenedor--item--nombre " ><%= nombre %></p>
							<p class="productos__contenedor--item--precio">$<%= precio %></p>
						</a>
					</div>
					
				<% }) %>
				
			</div> 
			
			<h2 id="Panaderia">Panaderia</h2>
			<div class="body__main__productos--contenedor">
				<% productosPanaderia.forEach(({id,nombre,precio,imagenes}) => { %>
					<div class="productos__contenedor--item">
					
						<a href="/productos/detalles/<%= id %>">
							<div style="height: 250px; overflow: hidden;">
								<img src="/stock-photos/<%=imagenes[0].archivo %>" >
							</div>
							<p class="productos__contenedor--item--nombre " ><%= nombre %></p>
							<p class="productos__contenedor--item--precio">$<%= precio %></p>
						</a>
					</div>
					
				<% }) %>
				
			</div> 
			
		</main>

		<%- include('./partials/footer') %>
	</div>
</body>
</html>