<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			
			<section class="body__main__detalles--contenedor">
				<div>
					<img src="/stock-photos/<%=producto.imagen %>" alt="produtos imagen">
				</div>
				<div>
					<h2 class="productos__contenedor--item--nombre"><%= producto.nombre %></h2>
					<p class="body__main__detalles--precio">$<%= producto.precio %></p>
					<form class="body__main__detalles--formulario" action="/carrito">
						<label for="cantidad">Cantidad:</label>
						<input type="number" value="1" name="cantidad" id="cantidad">
						<button class="boton-universal" type="submit">Añadir al carrito</button>
					</form>
					<p class="body__main__detalles--descripcion"><%= producto.descripcion %></p>
					<form class="body__main__detalles--formulario__mini" action="/productos/borrar/<%= producto.id %>?_method=DELETE" method="post">
						<button class="boton-universal peligro" type="submit">Borrar</button>
					</form>
					<a class="boton-universal" href="/productos/modificar/<%= producto.id %>" title="Modificar producto"><span class="boton-fix">Modificar </span></a>
				</div>
			</section>
		</main>
		<%- include('./partials/footer') %>
	</div>
</body>
</html>