<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			<h1>Productos</h1>
			<p>Aquí encontrarás todos los productos que con tanto cariño creamos para que los disfrutes.</p>
			<p>Puedes adquirir algunos en la tienda online y todos en la tienda física.</p>
			<button class="productos__button__crear"><a class="enlace" href="/productos/crear">agregar producto</a></button>
			<h2 id="Pasteleria">Pasteleria</h2>
			<div class="body__main__productos--contenedor">
				<% productosPasteleria.forEach(({id,name,precio,imagen}) => { %>
					<div class="productos__contenedor--item">
					
						<a href="/productos/detalles/<%= id %>">
							<img src="/stock-photos/<%=imagen %>" alt="produtos imagen">
							<p class="productos__contenedor--item--nombre " ><%= name %></p>
							<p class="productos__contenedor--item--precio">$<%= precio %></p>
						</a>
					</div>
					
				<% }) %>
				
			</div> 
			<!--confiteria-->
			
			<h2 id="Confiteria">Confitería</h2>
			<div class="body__main__productos--contenedor">
				<% productosConfiteria.forEach(({id,name,precio,imagen}) => { %>
					<div class="productos__contenedor--item">
					
						<a href="/productos/detalles/<%= id %>">
							<img src="/stock-photos/<%=imagen %>" alt="produtos imagen">
							<p class="productos__contenedor--item--nombre " ><%= name %></p>
							<p class="productos__contenedor--item--precio">$<%= precio %></p>
						</a>
					</div>
					
				<% }) %>
				
			</div> 
			
			<h2 id="Panaderia">Panaderia</h2>
			<div class="body__main__productos--contenedor">
				<% productosPanaderia.forEach(({id,name,precio,imagen}) => { %>
					<div class="productos__contenedor--item">
					
						<a href="/productos/detalles/<%= id %>">
							<img src="/stock-photos/<%=imagen %>" alt="produtos imagen">
							<p class="productos__contenedor--item--nombre " ><%= name %></p>
							<p class="productos__contenedor--item--precio">$<%= precio %></p>
						</a>
					</div>
					
				<% }) %>
				
			</div> 
			
		</main>

		<%- include('./partials/footer') %>
	</div>
</body>
</html>