<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			<!-- CONTENIDO - INICIO -->

			<h1>Modificar</h1>
			<section class="section__crear">
				<form class="form__crear" action="/productos/actualizar/<%= product.id %>?_method=PUT" method="PosT">
					<div class="form__box__crear">
						<label class="crear__label" for="nombre">Producto</label>
						<input class="crear__input" type="text" name="nombre" id="nombre" value="<%= product.nombre %>" <%= locals.errors && errors.articulo? 'is-invalid' : null %>"
						value="<%= locals.old && old.nombre? old.nombre: null %>">
					<small class="text-danger">
						<%= locals.errors && errors.nombre? errors.nombre.msg : null %>
					</small>
					<small id="errorNombre" class="text-danger" ></small>
					</div>

					<div class="form__box__crear">
						<label class="crear__label" for="imagen">Imagen del producto</label>
						<input class="crear__input--imagen" type="file" name="imagen" accept=".jpg">
					</div>
					<div class="form__box__crear">
						<label class="crear__label" for="categoria">Categoría</label>
						<select class="crear__select" name="categoria" id="categoria">
							<% categoria.forEach(({id,nombre}) => { %>
																								
								<option value="<%= id %>"<% locals.old && old.categoria == id ?  "selected" : null  %>><%= nombre %></option>>
							<% }) %>													
							
						</select>
						
						<small class="text-danger">
							<%= locals.errors && errors.categoria? errors.categoria.msg : null %>
						</small>
						<small id="errorCategoria" class="text-danger" ></small>

					</div>
					<div class="form__box__crear">
						<label class="crear__label" for="precio">Precio</label>
						<input class="crear__input" type="number" name="precio" id="precio" value="<%= product.precio %>" <%= locals.errors && errors.articulo? 'is-invalid' : null %>"
						value="<%= locals.old && old.nombre? old.nombre: null %>">
					<small class="text-danger">
						<%= locals.errors && errors.nombre? errors.nombre.msg : null %>
					</small>
					<small id="errorPrecio" class="text-danger" ></small>
					</div>

					<div class="form__box__crear">
						<label class="crear__label" for="stock">Stock</label>
						<input class="crear__input" type="number" name="stock" id="stock" value="<%= product.stock %>" <%= locals.errors && errors.articulo? 'is-invalid' : null %>"
						value="<%= locals.old && old.nombre? old.nombre: null %>">
					<small class="text-danger">
						<%= locals.errors && errors.nombre? errors.nombre.msg : null %>
					</small>
					<small id="errorStock" class="text-danger" ></small>
					</div>

					<div class="form__box__crear">
						<label class="crear__label" for="descripcion">Descripción del producto</label>
						<textarea class="crear__textarea" name="descripcion" id="descripcion" cols="30" rows="8"><%= product.descripcion %> </textarea>
						<%= locals.errors && errors.articulo? 'is-invalid' : null %>
						
					<small class="text-danger">
						<%= locals.errors && errors.nombre? errors.nombre.msg : null %>
					</small>
					<small id="errorDescripcion" class="text-danger" ></small>
					</div>
					<div>
						<button class="boton-universal" type="reset">Limpiar</button>
						<button class="boton-universal" type="submit">Enviar</button>
						<!--<button class="boton-universal" type="submit"><a href="/productos" title="Productos">Atras</a></button>-->
					</div>

				</form>
			</section>

			<!-- CONTENIDO - FINAL -->
		</main>
	<%- include('./partials/footer') %>
<script src="/js/productModifica.js"></script>	
</div>
</body>
</html>