<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			
			<section class="body__main__detalles--contenedor">
				<div>
					<img src="/stock-photos/<%=product.imagenes?product.imagenes[0].archivo:"producto-item.png"%> " alt="produtos imagen" width=150px  ><!--.archivo-->
				</div>
				<div>
					<h2 class="productos__contenedor--item--nombre"><%= product.nombre %></h2><!--nombre-->
					<p class="body__main__detalles--precio">$<%= product.precio %></p>
				
					<button class="btn btn-primary"  onclick="addCartItem('<%=product.id%>')">Añadir al carrito</button>
					<!--
						<form class="body__main__detalles--formulario" action="/carrito">
						<label for="cantidad">Cantidad:</label>  type="submit"
						<input type="number" value="1" name="cantidad" id="cantidad">
						
					</form>-->
					<p class="body__main__detalles--descripcion"><%= product.descripcion %></p>
					<% if(locals.userLogin.rol == 1){ %>
					<form class="body__main__detalles--formulario__mini" action="/productos/borrar/<%= product.id %>?_method=DELETE" method="POST">
						<button  class="boton-universal peligro" type="submit" >Borrar</button><!--id="btn-destroy"-->
					</form>
					<a class="boton-universal" href="/productos/modificar/<%= product.id %>" title="Modificar producto"><span class="boton-fix">Modificar </span></a>
				<!--	<button class="boton-universal" type="submit"><a href="/productos" title="Productos">Atras</a></button><a href="/productos" title="Productos"></a>-->
				<% } %> 	
			</div>
			</section>
		</main>
		<%- include('./partials/footer') %>
	</div>
</body>
</html>