<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			<!-- CONTENIDO - INICIO -->

			<h1>Modificar</h1>
			<section class="section__crear">
				<form class="form__crear" action="/productos/actualizar/<%= product.id %>?_method=PUT" method="POST">
					<div class="form__box__crear">
						<label class="crear__label" for="nombre">Producto</label>
						<input class="crear__input" type="text" name="nombre" id="nombre" value="<%= product.nombre %>">
					</div>
					<div class="form__box__crear">
						<label class="crear__label" for="imagen">Imagen del producto</label>
						<input class="crear__input--imagen" type="file" name="imagen" accept=".jpg">
					</div>
					<div class="form__box__crear">
						<label class="crear__label" for="categoria">Categoría</label>
						<select class="crear__select" name="categoria" id="categoria">
							<option value="Panaderia" <%= product.categoria === 'Panaderia' ? 'selected' : null %>>Panadería</option>
							<option value="Confiteria" <%= product.categoria === 'Confiteria' ? 'selected' : null %>>Confitería</option>
							<option value="Pasteleria" <%= product.categoria === 'Pasteleria' ? 'selected' : null %>>Pastelería</option>
						</select>
					</div>
					<div class="form__box__crear">
						<label class="crear__label" for="precio">Precio</label>
						<input class="crear__input" type="number" name="precio" id="precio" value="<%= product.precio %>">
					</div>
					<div class="form__box__crear">
						<label class="crear__label" for="stock">Stock</label>
						<input class="crear__input" type="number" name="stock" id="stock" value="<%= product.stock %>">
					</div>
					<div class="form__box__crear">
						<label class="crear__label" for="descripcion">Descripción del producto</label>
						<textarea class="crear__textarea" name="descripcion" id="descripcion" cols="30" rows="8"><%= product.descripcion %></textarea>
					</div>
					<div>
						<button class="boton-universal" type="reset">Cancelar</button>
						<button class="boton-universal" type="submit">Enviar</button>
						<button class="boton-universal" type="submit"><a href="/productos" title="Productos">Atras</a></button>
					</div>

				</form>
			</section>

			<!-- CONTENIDO - FINAL -->
		</main>
	<%- include('./partials/footer') %>
	</div>
</body>
</html>