<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			<h1>Login</h1>
			<form action="" method="POST" class="formulario" novalidate><!--class="formulario"-->
				<div class="control-formulario">
					<input type="text" name="email" placeholder="Email" class="control" >
					<small class="text-danger"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
				</div>
				<div class="control-formulario">
					<input type="password" name="contraseña" placeholder="Contraseña" class="control" >
					<!--implementacion de validacion-->
					<small class="text-danger"><%= locals.errors && errors.contraseña ? errors.contraseña.msg : null %></small>	
				</div>
				<button type="submit" class="boton-formulario">Ingresar</button>
				<div class="form__remember">
					<form action="">
						<input type="checkbox" id="recordarme" name="recordarme">
						<label for="recordarme" id="recordarme">Recordarme</label>
					</form>
				</div>
				<div class="password">
					<p>Olvidaste tu contraseña?</p>
				</div>
				<div class="registro">
				<p>Necesitas una cuenta?</p>&nbsp;<a href="/usuarios/registro" title="crea tu usuario" style="font-weight: bold;">Registrate</a>
				</div>   
			</form>
		</main>
		<%- include('./partials/footer') %>
		<script src="/js/validationsForm.js"></script>
	</div>
</body>
</html>
