<%- include('./partials/head') %>
<body>
	<div id="contenedor">
		<%- include('./partials/header') %>
		<main class="body__main">
			<h1>Login</h1>
			<form action="/usuarios/login" method="POST" class="formulario" > <!--class="formulario"novalidate-->
				<div class="control-formulario">
					<input type="text" name="email" placeholder="Email" class="control"  id="email">
					<small class="text-danger"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
					<small id="errorEmail" class="text-danger"></small>
				</div>
				<div class="control-formulario">
					<input id="passwo" type="password" name="password" placeholder="Contrase単a" class="control" >
					<!--implementacion de validacion-->
					<small   class="text-danger"><%= locals.errors && errors.contrase単a ? errors.contrase単a.msg : null %></small>	
				<small  id="errorPasswo" class="text-danger" ></small>
				</div>

				<button type="submit" class="boton-formulario">Ingresar</button>
				<div class="form__remember">
					
						<input type="checkbox" id="recordarme" name="recordarme">
						<label for="recordarme" id="recordarme">Recordarme</label>
					
				</div>
				<div class="password">
					<p>Olvidaste tu contrase単a?</p>
				</div>
				<div class="registro">
				<p>Necesitas una cuenta?</p>&nbsp;<a href="/usuarios/registro" title="crea tu usuario" style="font-weight: bold;">Registrate</a>
				</div>   
			</form>
		</main>
		<%- include('./partials/footer') %>
		<script src="/js/userLogin.js"></script>
	</div>
</body>
</html>
